@font-face {
    font-family: 'lunaregular';
    src: url('./fonts/luna-webfont.woff2') format('woff2'),/* Le format "woff" et "woff2" permet de lire la police sur n'importe quel navigateur */
         url('./fonts/luna-webfont.woff') format('woff'), /* Conversion du format ttf vers woff avec FontSquirrel */
         url('./fonts/Luna.ttf');
    font-weight: normal;
    font-style: normal;

}

section{
    background: url(./images/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1%;
}

nav{
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    padding: 20px;
}

h1{
    color: black;/*rgb(0,0,0) ou #000 */
    font-size: 24px;
    font-family: 'lunaregular';
}

h2{
    color: black;
    font-family: 'Lobster', cursive;
}

a{
    color: white;
    padding: 20px;
}

#bandeau{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    
}

#contenu{
    text-align: center;
}